* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
body {
  background: url("../images/bg.jpg") no-repeat top center;
  line-height: 1.15;
}
header {
  height: 1.25rem;
  background: url(../images/head_bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
header h1 {
  font-size: 0.475rem;
  line-height: 1rem;
  color: #fff;
  text-align: center;
}
header .showTime {
  position: absolute;
  right: 0.375rem;
  top: 0;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.25rem;
}
.mainBox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainBox .column {
  flex: 3;
}
.mainBox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.1875rem 0.1875rem;
  overflow: hidden;
}
.mainBox .column .panel {
  position: relative;
  height: 3.875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: url("../images/line\(1\).png") rgba(255, 255, 255, 0.04);
  padding: 0 0.1875rem 0.5rem 0.1875rem;
  margin-bottom: 0.1875rem;
}
.mainBox .column .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.mainBox .column .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.mainBox .column .panel .panel-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mainBox .column .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.mainBox .column .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.mainBox .column .panel h2 {
  height: 0.6rem;
  font-size: 0.25rem;
  line-height: 0.6rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.mainBox .column .panel h2 a {
  text-decoration: none;
  color: #fff;
  margin: 0 0.125rem;
}
.mainBox .column .panel .chart {
  height: 3rem;
}
.mainBox .column .no {
  background: rgba(101, 132, 226, 0.1);
  padding: 0.1875rem;
}
.mainBox .column .no .no-hd {
  border: 1px solid rgba(25, 186, 139, 0.17);
  position: relative;
}
.mainBox .column .no .no-hd ul {
  display: flex;
}
.mainBox .column .no .no-hd ul li {
  flex: 1;
  line-height: 1rem;
  font-size: 0.875rem;
  color: #ffeb7b;
  font-family: 'electronicFont';
  text-align: center;
}
.mainBox .column .no .no-hd ul li:nth-child(1) {
  position: relative;
}
.mainBox .column .no .no-hd ul li:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 1px ;
  background: rgba(255, 255, 255, 0.2);
  height: 50%;
  top: 25%;
  right: 0;
}
.mainBox .column .no .no-hd::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
  content: '';
}
.mainBox .column .no .no-hd::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
  content: '';
}
.mainBox .column .no .no-bd ul {
  display: flex;
}
.mainBox .column .no .no-bd ul li {
  flex: 1;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.225rem;
  padding-top: 0.125rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
}
.mainBox .column .map {
  height: 10.125rem;
  position: relative;
}
.mainBox .column .map .map1 {
  width: 6.475rem;
  height: 6.475rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/map.png');
  background-size: 100% 100%;
  opacity: 0.3;
}
.mainBox .column .map .map2 {
  width: 8.0375rem;
  height: 8.0375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/lbx.png');
  background-size: 100% 100%;
  opacity: 0.6;
  animation: rotate1 15s linear infinite;
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.mainBox .column .map .map3 {
  width: 7.075rem;
  height: 7.075rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/jt.png');
  background-size: 100% 100%;
  opacity: 0.6;
  animation: rotate2 8s linear infinite;
}
.mainBox .column .map .chart {
  width: 100%;
  height: 10.125rem;
  top: 0;
  left: 0;
  position: absolute;
}
/* 约束屏幕尺寸 */
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
